<p>animal-component works!</p>
<div class="table-responsive">
    <table class="table table-striped table-sm" *ngIf="animalList && animalList.length > 0">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Tipo</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of animalList">
                <td>{{ item.nombre }}</td>
                <td>{{ item.edad }}</td>
                <td>{{ item.tipo }}</td>
            </tr>

        </tbody>
    </table>
    <p *ngIf="!animalList || animalList.length === 0">
        No hay datos
    </p>
    <p>{{ animalList | json }}</p>
</div>